# Ignore everything
*
# Don't ignore directories, so we can recurse into them
!*/
# Don't ignore .gitignore, LICENSE and *.go files
!.gitignore
!.dockerignore
!LICENSE
!*.go
!.travis.yml
!Makefile
!vendor/**
!Dockerfile
!example_bigip_exporter.yml
src
pkg
