# Ignore everything
*
# Don't ignore directories, so we can recurse into them
!*/
# Don't ignore .gitignore, LICENSE and *.go files
!.gitignore
!LICENSE
!*.go
!.travis.yml
!Makefile
!vendor/**
src
pkg
